* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --blue: #2a3c7f;
  --green: #2cca7e;
  --yellow: #f1fd82;
  --white: #fff;
}

.flex {
  display: flex;
}

body {
  justify-content: center;
  align-items: center;
  padding: 7.5em 5em;
  background-color: var(--blue);
}